<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


<title>Brain tumour</title>

<head>
    <link rel="stylesheet" href="../static/style.css">
</head>

<!-- <div> -->
<div class="content2">

    <div class="toplogo" id="toplogoID">
        <center>
            <h1>Together We will Beat Cancer</h1>
        </center>
    </div>
    <!-- <nav><input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <div class="bar1 bar"></div>
          <div class="bar2 bar"></div>
          <div class="bar3 bar"></div>
          <div class="bar4 bar"></div>
          <div class="bar5 bar"></div>
        </label></nav> -->
    <div class="navbar" id="navbarID">
        <label class="logo">B<label id="sub">rain</label> T<label id="sub">umor Detection</label></label>
        <a href="#contact">Contact Us</a>
        <a href="#team">Team</a>
        <a href="#predict">Predict</a>
        <a class="active" href="#about">Home</a>
         <a href="javascript:void(0);" class="icon" id="iconID" style="margin-top:-20px" onclick="myFunction()" >
    <i class="fa fa-bars" ></i>
  </a>
    </div>

    <div class="about_brain-tumour">
        <div class="brain_head"><img src="../static/brain1.jpeg"></div>
        <div class="heading">
            <h1>Brain Tumours</h1>

            <p id="start_p">Tumours that start in the brain are called primary brain tumours. Tumours can start in any part of the
                brain or related structures. Cancers that have spread to the brain from somewhere else in the body are
                called secondary brain tumours or brain metastases.

                Brain and spinal cord tumours can affect children and adults. 
            </p>
        </div>


    </div>
    <div class="container">
        <div id="about">

            <h2>What is Brain Tumours ?</h2>
            <p1>A cancerous or non-cancerous mass or growth of abnormal cells in the brain.
Tumours can start in the brain, or cancer elsewhere in the body can spread to the brain.</p1>
        </div>
        <div id="about">

            <h2>The Brain And Spinal Cord</h2>
            <p1>The part of the skull where the brain sits is called the cranium. The base, or lower part, of the brain is connected to the spinal cord. Together, the brain and spinal cord are known as the central nervous system (CNS). Many nerves send electrical signals to and from the brain and spinal cord.</p1>
        </div>
        <div id="about">

            <h2>Grades of brain and spinal cord tumours</h2>
            <p1>Brain and spinal cord tumors are typically divided into 4 grades (using Roman numerals I to IV), based largely on how the tumor cells look under a microscope: Lower grade (grade I or II) tumors tend to grow more slowly and are less likely to grow into (invade or infiltrate) nearby tissues</p1>
        </div>

    </div>
    <div class="container">
        <div id="about">
            <h2>Risks and causes of brain tumours </h2>
            <p1>What causes Brain Tumor
Tumors can start in the brain, or cancer elsewhere in the body can spread to the brain.
Primary brain tumors begin when normal cells develop changes (mutations) in their DNA. A cell's DNA contains the instructions that tell a cell what to do.</p1>

        </div>
        <div id="about">

            <h2>Symptoms</h2>
            <p1>1.New onset or change in pattern of headaches<br>
2.Headaches that gradually become more frequent and more severe
3.Unexplained nausea or vomiting
4.Vision problems, such as blurred vision, double vision or loss of peripheral vision
5.Gradual loss of sensation or movement in an arm or a leg
6.Difficulty with balance
</p1>

        </div>
        <div id="about">
            <h2>Types of brain tumours</h2>
            <p1>More than 150 different brain tumors have been documented, but mainly classified into two groups
Primary brain tumors and 
Metastatic brain tumors .</p1>

        </div>
    </div>
    <div class="container">
        <div id="about">
            <h2>Survival </h2>
            <p1>There are various treatments for brain tumors. Your treatment relies upon the sort of tumor you have, where it is and your overall wellbeing.
</p1>
        </div>
        <div id="about">

            <h2>Getting Diagnosed</h2>
            <p1>If it's suspected that you have a brain tumor, your doctor may recommend a number of tests and procedures, including<br> 1.A neurological exam 2.Imaging tests 3.Collecting and testing a sample of abnormal tissue (biopsy).</p1>
        </div>
        <div id="about">
            <h2>Treatment</h2>
            <p1>1.Surgery<br>
2.Chemotheraphy<br>
3.Radiotherapy<br>
4.Controlling symptoms of brain tumors.</p1>
        </div>
    </div>

    <div id="predict">
        <div class="background">
            <div id="file-upload">
                <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                    <input name="file" type="file" accept="image/*" id="upload-box">
                    <br><br>
                    <center><b><input type="submit" class="submit submit2" value="Submit" id="upload-box"></b></center>
                    <!-- <center><input type="submit" class="submit" value="Submit" id="upload-box"></center> -->

                </form>
                <!--<div id="file-upload">
                    <input type="file" id="upload-box">-->
            </div>
        </div>
    </div>
    <div class="treatment">
        <div class="types-tumour">
            <div class="brain1">
                <img src="../static/brain2.jpeg">
                <div class="scientist3">
                    <img src="../static/brain3.jpeg">
                </div>
            </div>
            <div class="brain2">
                <img src="../static/brain4.jpeg">
            </div>
        </div>
        <div class="content">
            
            <h2>Types of Tumour</h2><br>
            <p1>More than 150 different brain tumors have been documented, but mainly classified into two groups Primary Brain tumours<br>
                   Metastatic brain tumors<br>
             
                 </p1>
            <p1><a href="https://braintumor.org/brain-tumor-information/understanding-brain-tumors/"><b>Primary Brain tumors </b></a> incorporate tumors that begin from the tissues of the brain or the Brain’s quick environmental factors. Primary tumors are classified as glial (made out of glial cells) or non-glial (created on or in the constructions of the mind, including nerves, veins and organs) and  benign or malignant.<br><br><br>
            <p1><a href="https://my.clevelandclinic.org/health/diseases/17225-metastatic-tumors"><b>Metastatic Brain tumors</b></a> incorporate tumors that emerge somewhere else in the body (like the breast or lungs) and relocate to the mind, typically through the circulation system. Metastatic tumors are viewed as Cancer and are harmful.
            </p1>
          
        </div>
    </div>
    <div id="team">
        <h1 class="team_members"><img src="../static/ourservices.png">  Contributors</h1>
        <div class="latest_insights">
            <div class="review1">
                <img src="../static/siva.jpeg" height=250 >
                <div class="person_name Siva">
                    <a href="https://sivanaikk0903.medium.com/"><i class="fa fa-medium info" style="color: rgb(27, 27, 27);"></i></a>
                    <a href="https://github.com/kethavathsivanaik/"><i href="#github" class="fa fa-github info" style="color: rgb(27, 27, 27);"></i></a>
                    <a href="https://www.linkedin.com/in/sivanaik"><i href="#linkedin" class="fa fa-linkedin-square info" style="color: rgb(27, 27, 27);"></i></a>
                    <a href="mailto://sivanaikk0903@gmail.com"><i href="#gmail" class="fa fa-google info" style="color: rgb(27, 27, 27);"></i></a>
                </div>
                <h5>Siva Naik Kethavath<br>ARTH</h5>
            </div>
           
            <div class="review1">
                <img src="../static/sridhar.jpeg" height=250 >
                <div class="person_name">
                    <a href=""><i class="fa fa-medium info" style="color: rgb(27, 27, 27);"></i></a>
                    <a href="https://github.com/KSridharrao"><i href="#github" class="fa fa-github info" style="color: rgb(27, 27, 27);"></i></a>
                    <a href="https://www.linkedin.com/in/isridharrao"><i href="#linkedin" class="fa fa-linkedin-square info" style="color: rgb(27, 27, 27);"></i></a>
                    <a href="mailto://sridhar7348@gmail.com"><i href="#gmail" class="fa fa-google info" style="color: rgb(27, 27, 27);"></i></a>
                </div>
                <h5>Sridhar Rao<br>ARTH</h5>
            </div>
            
        </div>
    </div>

</div>
    <div class="contact-us">
        <div class="footer ">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google info"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-instagram"></a>

        </div>
        <h4>For More Info Follow us</h4>
        <div id="contact">
            <a href="#privacy policty" >Privacy policy</a><br>
            <a href="#contactus" >Contactus</a>
                </div>
            
    </div>
   


<!-- </div> -->
</body>
<script src="https://kit.fontawesome.com/a6761c511f.js" crossorigin="anonymous"></script>
<script>
    // Top Scroll 
window.onscroll = function() {myFunction()};

var header = document.getElementById("navbarID");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
    // header.style.top="0px";
  } else {
    header.classList.remove("sticky");
    
  }
}
// Menubar
function myFunction() {
  var x = document.getElementById("navbarID");
  var icon= document.getElementById("iconID");
  if (x.className === "navbar") {
    x.className += " responsive";
    icon.style = "margin-top: 10px;margin-right:40px"
    // icon.style = "right: 30px"

  } else {
    x.className = "navbar";
    icon.style = "margin-top: -20px;margin-right:20px"

  }
}

</script>
</html>