@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);




*{
  padding:0;
  margin:0;
  text-decoration: none;
}
body{
    font-family: "Lato",sans-serif;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

p1{
  font-family: cursive;
}
h1{
  color: rgb(41, 41, 128);
  margin-left: 50px;
}
h2{
  color: rgb(41, 41, 128);
}
.toplogo{
  height: 120px;
  background-image: url(../static/backgroungimg.png);
  padding: 20px 0px;
    background-color: #f0f0f0f0;
    background-attachment: fixed;
    /* background-color: white; */
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    width:100%;
    padding: 20px;
    z-index: 1;
    /* position: fixed; */
    /* top:100px; */
    /* margin-bottom:100px; */
  }
  .toplogo + .navbar{
    padding-top: 30px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    margin-right: 20px;
    /* float: left; */
    /* font-size: 18px; */
    color: white;
    text-align: center;
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    /* padding: 7px 13px; */
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  label.logo{
    color: white;
    font-size: 25px;
    /* line-height: 80px; */
    /* padding: 0 100px; */
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  label.logo #sub{
    font-size: 15px;
    cursor: pointer;
  }
  a.active,a:hover{
    background: rgb(13, 79, 155);
    transition: .5s;
  }
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    /* background-color: red; */
    width:auto;
    background: rgb(13, 79, 155);
    transition: .4s;
  }
  

.heading{
    display:block;
}
.topnav-right {
  float: right;
}

.donate{
  margin-top: 20px;
}
.donate button{
  background-color: orangered;
  color: white;
  padding: 10px;
  width:fit-content;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding: 15px;
  
}
.donate button:hover{
  background-color: black;
}

.about_brain-tumour{
  display: flex;
  padding: 0 50px;
  margin:40px 0;
  /* margin-top: 120px; */
}
.about_brain-tumour img{
  margin-right:30px;
}
.container{
  display:flex;
  padding: 25px;
  /* margin-top: 50px; */
  margin: 0;
  width: 100%;
}


#about{
  display: block;
  text-align:center;
  box-shadow: 0px 0px 3px;
  padding: 40px;
  margin:0 30px;
    /* background-color:  rgba(253, 253, 253, 0.959) */
    background-color: #ebeaea;

}


#file-upload{
    
    left:50%;
    transform: translate(-50%,-50%);
    position:absolute;

}

.background{
  position: relative;
  /* z-index: -1; */
  margin-top:80px;
  padding: 150px;
  justify-content: center;
  background-color: cyan;
  background: url("brainTumur.gif"),url("brainTumur.gif");
  /* background-attachment: fixed; */
  /* background-repeat:no-repeat; */
background-size:50%;

}
#upload-box{
    font-size:14px;
    border-radius:30px;
    box-shadow:3px 3px 5px black;
    outline:none;
    background: #f0f0f0;
    font-weight: bold;
}
#upload-box:hover{
  background-color: transparent;
  border: 0.1px solid #f0f0f0;
}
::-webkit-file-upload-button{
    color:white;
    background:#206a5d;
    padding: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 0 1px 1px ;
}
::-webkit-file-upload-button:hover{

    background:#438a5e;
}

/* footer */

.footer{
  display:flex;
  justify-content:center;
  margin-top: 25px;
  position:sticky;
}
.contact-us{
  margin-top: 20px;
  background-color: rgb(31, 30, 30);
  height:180px;
  margin-top: 80px;
  text-align: center;
  padding: 20px;
}
.contact-us .footer a{
  margin: 10px 20px;
  /* color: rgb(13, 79, 155); */
}

#contact a{
  color: #bdbdbd;
  font-size: small;
  font-weight: 100;
font-family:sans-serif;
}
h4{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(223, 93, 115);
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50px;
}

/* .info:hover{
  background: rgba(5, 106, 221, 0.531);
  opacity: 1;
  border-radius: 0;
} */

.submit {
  background-color: rgb(13, 79, 155);
  color: white;
  padding: 10px;
  width:fit-content;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

/* team */
/* #team{
  background-image: url("../static/backgroungimg.png") ;

} */
.row2{
  margin-top:10px;
  display: flex;
  background-image: url("images/backgroungimg.png");
  margin-bottom: 100px;
}
.latest_insights{
  margin-top:50px;
  display: flex;
  background-image: url("images/backgroungimg.png");
  margin-bottom: 90px;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center; 
}
#start_p{
  margin-left: 50px;
  width:950px;
  font-family:cursive;
  font-size: 1.4em;
  line-height: 1.5;
}
.review1{
  display:block;
  margin:30px;
  padding-bottom: 50px;
  /* box-shadow:0px 0px 3px; */
  /* background-color: white; */
  background-color: #ebeaea;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.293);
  /* max-width: fit-content; */
  flex: 1 0 21%; /* explanation below */
  /* margin: 5px; */
  /* height: 100px; */
}
.review1:hover{
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.653);

}
.review1 img{
  /* height:100px; */
  /* box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.238); */
  width:200px;
}
.person_name{
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
.person_name img{
  border-radius: 40px;
  height:30px;
  width:30px;
  align-content: center;
}
p2{
  color:rgb(87, 84, 84);
  text-align: center;
}
h5{
  text-align: center;
  cursor: pointer;
}
h5:hover{
  color:rgb(13, 79, 155);
}

.submit2{
  /* background-color: rgb(13, 79, 155); */
  padding: 13px;
  width: 180px;
  color: #125688;
}

.team_members{
  margin-top: 100px;
  /* padding: 25px;? */
  text-align: center;
  text-transform:capitalize;
  font-family:cursive;
  font-size: 3em;
}
.fa:hover {
  opacity: 1;
  border-radius: 0;
}
.person_name a{
  border-radius: 50%;
}
.person_name a:hover{
  background: #55ACEE;
  transition-timing-function: ease-out;
  border-radius: 10%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 100px;
}


/* treatment */

.treatment{
  display:flex;
  margin-top:100px;
}
.types-tumour{
  display: block;
  background-image: url("../static/backgroungimg.png");
  width:40%;
  height: 450px;
}
.brain1 {
  display: flex;
}
.brain1 img{
  margin-left: 20px;
  height:170px;
  border-radius: 10px;
}

.brain2 img{
  margin-left: 80px;
  margin-top:40px;
  height:180px;
  border-radius: 10px;
}
.brain3 img{
  margin-top:150px;
  margin-left:80px;
  height:190px;
  border-radius: 10px;
}
.content{
  margin-left: 30px;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  width: 800px;
}
p1 a{
  color: black;
}
p1 a:hover{
  background: transparent;
}

.final{
  background: url("finalPage.gif");
}

.wrong-file img{
  margin-top: 60px;
  border-radius: 10px;
}
.aboutus button{
  background-color: orangered;
  color: white;
  padding: 5px;
  border: none;
  font-size: 20px;
  border-radius: 10px;

  
}
.aboutus button:hover{
  
  background-color: black;
}

.submit2:hover{
  background-color: black;
  color:rgb(255, 255, 255);\
}
.contact-us .footer a{
  margin: 0px 20px;
  text-decoration: none;
  color: #f0f0f0 ;
}

a.fa.fa-google.info{
  background-color: #007bb5;
}
.navbar .fa-bars, .icon
{
  display: none;
}

.fa{
  width: 100%;
}
.footer .fa {
  border-radius: 50%;
  width: 3.5%;
}
.footer .fa:hover
{
  border-radius: 0;
}
/*.navbar a{
    float: right;
  display: block;
}
.navbar{ overflow: hidden;}*/
@media only screen and (max-width: 600px) {
  .navbar .fa-bars, .icon{
    display: inline-block;
  }
  .toplogo{
    height: 60px;
  }
  .toplogo h1{
    margin-left: -10px;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 0.5;
  }
.icon{
  /*visibility: hidden;*/
  display: none;
}
  .navbar{
        margin-bottom: 0;
  }
  .navbar a:not(:first-child) {display: none;}
  
  
  .navbar a.icon {
    float: right;
    display: block;
  }
    .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .about_brain-tumour{
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
  }
  .brain_head{ 
    width:100%; 
  }
  .brain_head img{
    margin-right:0 ;
    height: 85%;
    width: 100%;
  }
  .heading h1{
    font-size: 2.3em;
    margin-left: 10px;
  }
  .heading #start_p{
    font-size: 1.2em;
    margin-left: 10px;
    width: auto;
  }
  .container{
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3px 15px 3px 15px;
  }
  
  #about h2{
    font-size: 1.7em;
  }
  .container #about{
    margin: 20px 0 20px 0;
  }

.background{
  margin-top: 0;
  background: url("brainTumur.gif");
  /*background-attachment: fixed; */
  background-repeat:no-repeat; 
background-size: 180%;

  }
  .treatment{
    flex-wrap: wrap;
    margin-top: 75px;
  }
  .types-tumour{
    height: 355px;
  }
  .types-tumour .brain1 img{
    height: 100px;
  }
  .types-tumour .brain2 img{
    height: 132px;
  }
  .team_members{
    margin-left: 0;
  }
  .latest_insights{
    margin-bottom: 5px;
  }
  .latest_insights .review1{
    margin: 20px;
    padding-bottom: 20px;
  }
  .latest_insights .review1 img{
    width: 200px;
    height: 180px;
  }

.footer .fa {
  border-radius: 50%;
  width: 40%;
}
  .contact-us{
    margin-top: 20px;
    padding: 2px;
    padding-bottom: 0;
  }
  /*.brain_head{
    width: 100%;
  }
  .heading{
    width: 100%;
  }*/
}